@using MyDevLab.ViewModels.WebPush;

@{
    Layout = "_Layout";
}

<h1>Hello from Wizard!</h1>
<button type="button" onclick="location.href='@Url.Action("LivePreview", "WebPush")'">Live preview</button>
