################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyDevLab.DataAccess/bin/Debug/netcoreapp2.2
/MyDevLab.DataAccess/obj/Debug/netcoreapp2.2
